<footer>
    <!-- <div class="main-footer">
        <div class="row">
            <div class="col">
                <a class="logo navbar-brand" href="#">
                    <img src="assets/images/Max-logo-01.png" height="30">
                </a>
                <p class="text-grey">Max Jobs invites online application for temperary workmen (TW) for gurgaon/Manesar (Haryana) For automobile company.</p>
            </div>
            <div class="col">Important Links</div>
            <div class="col">Employer Zone</div>
            <div class="col">Terms & Conditions</div>
        </div>
    </div> -->
    <div class="footer-strip">
        <div>
            <p class="footer-text">Copyright 20201 by MajJobs. All Rights Reserved.</p>
        </div>
    </div>
</footer>