<header>
    <div id='main-nav'>
        <mdb-navbar SideClass="navbar navbar-expand-lg navbar-light" [containerInside]="false">
            <mdb-navbar-brand>
                <a class="logo navbar-brand" href="#">
                    <img src="assets/images/Max-logo-01.png" height="50">
                </a>
            </mdb-navbar-brand>
            <links>
                <ul class="navbar-nav ml-auto custom-nav">
                    <li class="nav-item active waves-light" mdbWavesEffect>
                        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item waves-light" mdbWavesEffect>
                        <a class="nav-link">About</a>
                    </li>
                    <li class="nav-item waves-light" mdbWavesEffect>
                        <a href="/browse-listing" class="nav-link">Browse Listing</a>
                    </li>
                    <li class="nav-item waves-light" mdbWavesEffect>
                        <a class="nav-link">Dashboard</a>
                    </li>
                    <li class="nav-item waves-light" mdbWavesEffect>
                        <a class="nav-link">Upload Resume</a>
                    </li>
                    <li class="nav-item waves-light" mdbWavesEffect>
                        <a class="nav-link">My Account</a>
                    </li>
                </ul>
                <ul class="navbar-nav nav-flex-icons">
                    <li class="nav-item">
                        <a class="nav-link"><button class='btn btn-primary btn-explore ml-80'>Create Account</button></a>
                    </li>
                </ul>
            </links>
        </mdb-navbar>
    </div>
</header>