<div class="container">
    <app-header></app-header>
    <main>
        <div id="banner-carousel">
            <div class="top-content">
                <p class="title">Find your jobs & make <br>sure goal.</p>
                <p class="sub-title">Your dream job is waiting for you</p>
            </div>
            <mdb-carousel class="carousel slide carousel-fade" [isControls]="false" [animation]="'fade'">
                <mdb-carousel-item>
                <img class="d-block w-100" src="assets/images/banner-bg-1.png" alt="First slide">
                </mdb-carousel-item>
                <mdb-carousel-item>
                <img class="d-block w-100" src="assets/images/banner-bg-2.png" alt="Second slide">
                </mdb-carousel-item>
                <mdb-carousel-item>
                <img class="d-block w-100" src="assets/images/banner-bg-3.png" alt="Third slide">
                </mdb-carousel-item>
            </mdb-carousel>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col box">
                <img src="assets/images/account-1.png" alt="Account">
                <p class="title">Account</p>
                <p class="subTitle">First you have to create an account here!</p>
            </div>
            <div class="col box">
                <img src="assets/images/CV-Resume.png" alt="Account">
                <p class="title">CV/Resume</p>
                <p class="subTitle">For jobs you have to upload your best CV or Resume</p>
            </div>
            <div class="col box">
                <img src="assets/images/quick-jobs.png" alt="Account">
                <p class="title">Quick Jobs</p>
                <p class="subTitle">Find your best job by using search or categories</p>
            </div>
            <div class="col box">
                <img src="assets/images/apply-them.png" alt="Account">
                <p class="title">Apply</p>
                <p class="subTitle">Finally you aaply your job and enjoy your work</p>
            </div>
        </div>
        <div class="row mt-5 mb-3">
            <div class="col latest-job-box">
                <p class="title">Latest<span class="textBlue"> Job </span>Here</p>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col latest-job-card">
                <div class="row">
                    <div class="col-2">
                        <img src="assets/icons/g-logo.png" alt="Account" width="50px">
                    </div>
                    <div class="col-8">
                        <span class="location">Google Gurgaon/Mumbai</span><br>
                        <span class="profile">Digital Marketing Executive</span>
                    </div>
                    <div class="col-1">
                        <img src="assets/icons/bookmark-ribbon.svg" alt="Account" width="30px">
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                    </div>
                    <div class="col-7">
                        <span class="location">2 Days Ago</span>
                    </div>
                    <div class="col-3">
                        <span class="full-time">Full Time</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="desc">As advertising and content coordinator you will support our social media team in producing high quality social contentfor a range of media channel.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a class="apply">Apply Now</a>
                    </div>
                </div>
            </div>
            <div class="col latest-job-card">
                <div class="row">
                    <div class="col-2">
                        <img src="assets/icons/g-logo.png" alt="Account" width="50px">
                    </div>
                    <div class="col-8">
                        <span class="location">Google Gurgaon/Mumbai</span><br>
                        <span class="profile">Digital Marketing Executive</span>
                    </div>
                    <div class="col-1">
                        <img src="assets/icons/bookmark-ribbon.svg" alt="Account" width="30px">
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                    </div>
                    <div class="col-7">
                        <span class="location">2 Days Ago</span>
                    </div>
                    <div class="col-3">
                        <span class="full-time">Full Time</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="desc">As advertising and content coordinator you will support our social media team in producing high quality social contentfor a range of media channel.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a class="apply">Apply Now</a>
                    </div>
                </div>
            </div>
            <div class="col latest-job-card">
                <div class="row">
                    <div class="col-2">
                        <img src="assets/icons/g-logo.png" alt="Account" width="50px">
                    </div>
                    <div class="col-8">
                        <span class="location">Google Gurgaon/Mumbai</span><br>
                        <span class="profile">Digital Marketing Executive</span>
                    </div>
                    <div class="col-1">
                        <img src="assets/icons/bookmark-ribbon.svg" alt="Account" width="30px">
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                    </div>
                    <div class="col-7">
                        <span class="location">2 Days Ago</span>
                    </div>
                    <div class="col-3">
                        <span class="full-time">Full Time</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="desc">As advertising and content coordinator you will support our social media team in producing high quality social contentfor a range of media channel.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a class="apply">Apply Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col latest-job-card">
                <div class="row">
                    <div class="col-2">
                        <img src="assets/icons/g-logo.png" alt="Account" width="50px">
                    </div>
                    <div class="col-8">
                        <span class="location">Google Gurgaon/Mumbai</span><br>
                        <span class="profile">Digital Marketing Executive</span>
                    </div>
                    <div class="col-1">
                        <img src="assets/icons/bookmark-ribbon.svg" alt="Account" width="30px">
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                    </div>
                    <div class="col-7">
                        <span class="location">2 Days Ago</span>
                    </div>
                    <div class="col-3">
                        <span class="full-time">Full Time</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="desc">As advertising and content coordinator you will support our social media team in producing high quality social contentfor a range of media channel.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a class="apply">Apply Now</a>
                    </div>
                </div>
            </div>
            <div class="col latest-job-card">
                <div class="row">
                    <div class="col-2">
                        <img src="assets/icons/g-logo.png" alt="Account" width="50px">
                    </div>
                    <div class="col-8">
                        <span class="location">Google Gurgaon/Mumbai</span><br>
                        <span class="profile">Digital Marketing Executive</span>
                    </div>
                    <div class="col-1">
                        <img src="assets/icons/bookmark-ribbon.svg" alt="Account" width="30px">
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                    </div>
                    <div class="col-7">
                        <span class="location">2 Days Ago</span>
                    </div>
                    <div class="col-3">
                        <span class="full-time">Full Time</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="desc">As advertising and content coordinator you will support our social media team in producing high quality social contentfor a range of media channel.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a class="apply">Apply Now</a>
                    </div>
                </div>
            </div>
            <div class="col latest-job-card">
                <div class="row">
                    <div class="col-2">
                        <img src="assets/icons/g-logo.png" alt="Account" width="50px">
                    </div>
                    <div class="col-8">
                        <span class="location">Google Gurgaon/Mumbai</span><br>
                        <span class="profile">Digital Marketing Executive</span>
                    </div>
                    <div class="col-1">
                        <img src="assets/icons/bookmark-ribbon.svg" alt="Account" width="30px">
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                    </div>
                    <div class="col-7">
                        <span class="location">2 Days Ago</span>
                    </div>
                    <div class="col-3">
                        <span class="full-time">Full Time</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="desc">As advertising and content coordinator you will support our social media team in producing high quality social contentfor a range of media channel.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a class="apply">Apply Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="explore-carousel" class="mt-6 mb-6">
            <mdb-carousel [animation]="'slide'" >
                <mdb-carousel-item>
                    <div class="row">
                        <div class="col-5">
                            <img class="d-block w-100" src="assets/images/Blue-white-collar-img.png" alt="First explore slider">
                        </div>
                        <div class="col-7 right-content">
                            <p class="heading">Grow hiring & Retention in The <span class="textBlue">Blue/White Collar</span> Market.</p>
                            <p class="desc">As advertising and content coordinator you will support our social media team in producing high quality social contentfor a range of media channel.</p>
                            <button class="btn-primary btn-explore">Explore More</button>
                        </div>
                    </div>
                </mdb-carousel-item>
                <mdb-carousel-item>
                    <div class="row">
                        <div class="col-5">
                            <img class="d-block w-100" src="assets/images/assesments.png" alt="Second explore slider">
                        </div>
                        <div class="col-7 right-content">
                            <p class="heading">Smart Collaboration for <span class="textBlue">Later Hiring</span></p>
                            <p class="desc">As advertising and content coordinator you will support our social media team in producing high quality social contentfor a range of media channel.</p>
                            <button class="btn-primary btn-explore">Explore More</button>
                        </div>
                    </div>
                </mdb-carousel-item>
                <mdb-carousel-item>
                    <div class="row">
                        <div class="col-5">
                            <img class="d-block w-100" src="assets/images/letral-hiring.png" alt="Third explore slider">
                        </div>
                        <div class="col-7 right-content">
                            <p class="heading">The Aspect of Pre-Employment <span class="textBlue">Assesment Test</span> In Hiring</p>
                            <p class="desc">As advertising and content coordinator you will support our social media team in producing high quality social contentfor a range of media channel.</p>
                            <button class="btn-primary btn-explore">Explore More</button>
                        </div>
                    </div>
                </mdb-carousel-item>
            </mdb-carousel>
        </div>
        <div id="browse-category-section" class="mt-6 mb-6">
            <div class="row mb-4">
                <div class="col text-center">
                    <h1 class="title">Browse Jobs <span class="textBlue">Category</span></h1>
                    <p class="sub-title">Loerum ispum, or Lipsum as it is sometimes known as dummy text.</p>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col browse-job-card text-center">
                    <img src="assets/icons/ProgrammingTech.png" alt="ProgrammingTech">
                    <p class="job-title">Programming & Tech</p>
                    <p class="sub-title">100+ Posted New Jobs</p>
                </div>
                <div class="col browse-job-card text-center">
                    <img src="assets/icons/Sports-Media.png" alt="Sports and Media">
                    <p class="job-title">Sports and Media</p>
                    <p class="sub-title">80+ Posted New Jobs</p>
                </div>
                <div class="col browse-job-card text-center">
                    <img src="assets/icons/Digital-Marketing.png" alt="Digital Marketing">
                    <p class="job-title">Digital Market</p>
                    <p class="sub-title">100+ Posted New Jobs</p>
                </div>
                <div class="col browse-job-card text-center">
                    <img src="assets/icons/Writing-translation.png" alt="Writing Translation">
                    <p class="job-title">Writing & Transaction</p>
                    <p class="sub-title">100+ Posted New Jobs</p>
                </div>
            </div>
            <div class="row">
                <div class="col browse-job-card text-center">
                    <img src="assets/icons/Finance-Accounts.png" alt="Finance and Accounts">
                    <p class="job-title">Finance & Accounts</p>
                    <p class="sub-title">100+ Posted New Jobs</p>
                </div>
                <div class="col browse-job-card text-center">
                    <img src="assets/icons/Art-Design.png" alt="Art and Design">
                    <p class="job-title">Art & Design</p>
                    <p class="sub-title">100+ Posted New Jobs</p>
                </div>
                <div class="col browse-job-card text-center">
                    <img src="assets/icons/video-editing.png" alt="ProgrammingTech">
                    <p class="job-title">Video Editing</p>
                    <p class="sub-title">100+ Posted New Jobs</p>
                </div>
                <div class="col browse-job-card text-center">
                    <img src="assets/icons/education.png" alt="education">
                    <p class="job-title">Education</p>
                    <p class="sub-title">100+ Posted New Jobs</p>
                </div>
            </div>
        </div>
        <div id="top-companies-section" class="mt-6 mb-6">
            <div class="row">
                <div class="col-md-6 col-xs-12 left-content">
                    <p class="title"><span class="textBlue">1000+ </span>world top company post there jobs in here.</p>
                    <p class="sub-title">Lorem Ispum As advertising and content coordinator you will support our social media team in producing high quality social contentfor a range of media channel</p>
                    <button class="btn btn-primary btn-explore mt-3">Create Free Account</button>
                </div>
                <div class="col-md-6 col-xs-12">
                    <img src="assets/images/top-companies.png" alt="Top Companies" width="100%">
                </div>
            </div>
        </div>
        <div id="jobholders-section" class="mt-6 mb-6">
            <div class="row">
                <div class="col text-center">
                    <p class="title">What say's <span class="textBlue">jobholders</span><br>about us</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-xs-4">
                    <div class="card">
                        <img src="assets/icons/g-logo.png" alt="Account" width="50px">
                        <p class="desc">We are welcoming interns with a love for design. We are very open to creative ideas from the intern, such as cycling-related illustrations. We will give you the brand look- font, colors, layout style. Be ready to do small, easy design work and to create some designs of your own based on the brand look</p>
                        <div class="hr-blue mb-1"></div>
                        <p class="name">Madhav Prashar</p>
                        <p class="desig">Creative Director & CEO</p>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <div class="card">
                        <img src="assets/icons/g-logo.png" alt="Account" width="50px">
                        <p class="desc">We are welcoming interns with a love for design. We are very open to creative ideas from the intern, such as cycling-related illustrations. We will give you the brand look- font, colors, layout style. Be ready to do small, easy design work and to create some designs of your own based on the brand look</p>
                        <div class="hr-blue mb-1"></div>
                        <p class="name">Madhav Prashar</p>
                        <p class="desig">Creative Director & CEO</p>
                    </div>
                </div>
                <div class="col-md-4 col-xs-4">
                    <div class="card">
                        <img src="assets/icons/g-logo.png" alt="Account" width="50px">
                        <p class="desc">We are welcoming interns with a love for design. We are very open to creative ideas from the intern, such as cycling-related illustrations. We will give you the brand look- font, colors, layout style. Be ready to do small, easy design work and to create some designs of your own based on the brand look</p>
                        <div class="hr-blue mb-1"></div>
                        <p class="name">Madhav Prashar</p>
                        <p class="desig">Creative Director & CEO</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="download-app-section" class="mt-6 mb-6">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <img src="assets/images/app.png" alt="Download App" width="100%">
                </div>
                <div class="col-md-6 col-xs-12 right-content">
                    <p class="title">Download the <span class="textBlue">App</span></p>
                    <p class="sub-title">Lorem Ispum As advertising and content coordinator you will support our social media team in producing high quality social contentfor a range of media channel</p>
                    <div class="row">
                        <div class="col no-padding"><button class="btn btn-apples-store"></button></div>
                        <div class="col no-padding"><button class="btn btn-google-store"></button></div>
                    </div>
                    
                </div>
            </div>
        </div>
        <app-subscribe></app-subscribe>
        <div id="get-started-section" class="mt-6 mb-6">
            <div class="row">
                <div class="col-md-6 col-xs-6 text-left">
                    <h1 class="title">Ready to get started</h1>
                    <p class="sub-title">Create an account and refer your friend</p>
                </div>
                <div class="col-md-6 col-xs-6 text-right">
                    <button class="btn btn-primary btn-explore">Create Free Account</button>
                </div>
            </div>
        </div>
    </main>
    <app-footer></app-footer>
</div>
