<app-header></app-header>
<div id="assessment-section">
    <div class="assessment-bg">
        <div class="container">
            <div class="main-heading-section">
                <p class="sub-title">Start Your Test</p>
                <h1 class="title">Start Your Test Fast &<br>Easy with MAXJOBS</h1>
            </div>
        </div>
    </div>
    <div class="main-listing container">
        <div class="row">
            <div class="col-8">
                <div class="row search-section">
                    <div class="col-12 mt-4 mb-4">
                        <p class="title">About this Role</p>    
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-2">
                                <img src="assets/icons/g-logo.png" class="comp-logo" alt="Account" width="100">
                            </div>
                            <div class="col-10 profile-details">
                                <span class="title">Quality Engineer Fresher</span><span class="type text-grey"> (Fulltime)</span>
                                <p class="org text-grey">Google Inc. | Location: Gurgaon</p>
                                <p class="package">8.0 Lacs - 16.0 Lacs + Benefits</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="text-grey">When a new position opens up, it presents a unique opportunity to assess your department and upgrade your expectations. 
                                    It would be a mistake to simply use the same job description you've used in the past without comparing it to the capabilities and performance of your current staff. 
                                    This could result in hiring the same weaknesses, and can negatively impact your department's long-term growth and potential.<br><br>
                                    Writing a job description can be challenging. But by having a strong understanding of the position and how it fits into your company, you can create a job description that accurately represents the position and attracts the right applicants.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="title">Skills</p>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col">
                                <button type="button" class="btn btn-light btn-rouned">CSS</button>
                                <button type="button" class="btn btn-light btn-rouned">Mobile Dev</button>
                                <button type="button" class="btn btn-light btn-rouned">Design</button>
                                <button type="button" class="btn btn-light btn-rouned">Writing</button>
                                <button type="button" class="btn btn-light btn-rouned">Design</button>
                                <button type="button" class="btn btn-light btn-rouned">Web Dev</button>
                                <button type="button" class="btn btn-light btn-rouned">Design</button>
                                <button type="button" class="btn btn-light btn-rouned">Writing</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="title">Description</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-5">
                                <p class="text-grey">
                                    We are looking for a Content Writer to join our editorial team and enrich our websites with new blog posts, guides and marketing copy.
                                    <br><br>
                                    Content Writer responsibilities include conducting thorough research on industry-related topics, generating ideas for new content types and proofreading articles before publication. 
                                    If you’re familiar with producing online content and have an eye for detail, we’d like to meet you. Feel free to share samples of your work or portfolio of your published articles, along with your application.
                                    <br><br>
                                    Ultimately, you’ll deliver quality writing pieces that appeal to our audiences, attract customers and boost brand awareness.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="title">Skillset</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-5">
                                    <ul class="text-grey pl-15">
                                        <li>Research industry-related topics (combining online sources, interviews and studies)</li>
                                        <li>Write clear marketing copy to promote our products/services</li>
                                        <li>Prepare well-structured drafts using Content Management Systems</li>
                                        <li>Proofread and edit blog posts before publication</li>
                                        <li>Submit work to editors for input and approval</li>
                                        <li>Coordinate with marketing and design teams to illustrate articles</li>
                                        <li>Conduct simple keyword research and use SEO guidelines to increase web traffic</li>
                                        <li>Promote content on social media</li>
                                        <li>Identify customers’ needs and gaps in our content and recommend new topics</li>
                                        <li>Ensure all-around consistency (style, fonts, images and tone)</li>
                                        <li>Update website content as needed</li>
                                    </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="title">Benefits</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="text-grey">This Job offers the following benefits:</p>
                            </div>
                        </div>
                        <div class="row text-center benefits mb-5">
                            <div class="col-2">
                                <i class="fas fa-stethoscope"></i>
                                <p class="item">Health Insurance</p>
                            </div>
                            <div class="col-2">
                                <i class="fas fa-user-clock"></i>
                                <p class="item">Flexible Timings</p>
                            </div>
                            <div class="col-2">
                                <i class="fas fa-car-side"></i>
                                <p class="item">Company Car</p>
                            </div>
                            <div class="col-2">
                                <i class="far fa-chart-bar"></i>
                                <p class="item">Share Scheme</p>
                            </div>
                            <div class="col-2">
                                <i class="fas fa-coins"></i>
                                <p class="item">Pension Scheme</p>
                            </div>
                            <div class="col-2">
                                <i class="fas fa-dumbbell"></i>
                                <p class="item">Gym Membership</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="title">Location</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <p class="text-grey">Unitech Signature Tower 2, 1st floor, TWB Sec 15, Part 1, Village Silokhera, Gurgaon 122001.</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-4 right-content">
                <div class="row">
                    <div class="col-12 mt-1 mb-1">
                        <button class="btn btn-apply"><i class="fa fa-desktop fa-custom" aria-hidden="true"></i> Apply for this job</button>
                    </div>
                    <div class="col-12 mt-1 mb-1">
                        <button class="btn btn-share"><i class="fab fa-facebook-f fa-fb"></i> Share on Facebook</button>
                    </div>
                    <div class="col-12 mt-1 mb-1">
                        <button class="btn btn-share"><i class="fab fa-twitter fa-twit"></i> Share on Twitter</button>
                    </div>
                    <div class="col-12 mt-1 mb-1">
                        <button class="btn btn-share"><i class="fab fa-linkedin-in fa-linkd"></i> Share on Linkedin</button>
                    </div>
                </div>
                <div class="row url-share">
                    <div class="col-12 mt-4">
                        <label class="sub-title">Job URL</label>
                    </div>
                    <div class="col-12 mb-4">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="http://www.maxjob.com/max-job-description" aria-label="share url"
                                aria-describedby="button-addon2" />
                            <button class="btn btn-primary btn-search" type="button" id="button-addon2" data-mdb-ripple-color="dark">
                                Copy
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row more-jobs">
                    <div class="col-12">
                        <p class="heading">More from MaxJobs.com</p>
                    </div>
                    <div class="col-12 mt-3 mb-3">
                        <span class="title">Hiring for DET Trainee Engineer (Mechanical)</span><span class="type text-grey"> (Fulltime)</span>
                        <p class="sub-title mt-1">ERA Consultancy</p>
                        <p class="sub-title">Gurugram, Haryana (+3 others)</p>
                    </div>
                    <div class="col-12 mt-3 mb-3">
                        <span class="title">Hiring for DET Trainee Engineer (Mechanical)</span><span class="type text-grey"> (Fulltime)</span>
                        <p class="sub-title mt-1">ERA Consultancy</p>
                        <p class="sub-title">Gurugram, Haryana (+3 others)</p>
                    </div>
                    <div class="col-12 mt-3 mb-3">
                        <span class="title">Hiring for DET Trainee Engineer (Mechanical)</span><span class="type text-grey"> (Fulltime)</span>
                        <p class="sub-title mt-1">ERA Consultancy</p>
                        <p class="sub-title">Gurugram, Haryana (+3 others)</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <div id="map-container-google-1">
                            <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                            style="border: 0;width:100%;height:400px" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div id="get-started-section" class="mt-6 mb-6">
                    <div class="row">
                        <div class="col-md-6 col-xs-6 text-left">
                            <h1 class="title">Ready to get started</h1>
                            <p class="sub-title">Create an account and refer your friend</p>
                        </div>
                        <div class="col-md-6 col-xs-6 text-right">
                            <button class="btn btn-primary btn-explore">Create Free Account</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>

