<app-header></app-header>
<div id="browse-listing-section">
    <div class="browser-listing-bg">
        <div class="container">
            <div class="main-heading-section">
                <p class="sub-title">Job Listing</p>
                <h1 class="title">Find your dream jobs <br>through MAXJOBS easily</h1>
            </div>
        </div>
    </div>
    <div class="main-listing container">
        <div class="col">
            <div class="row search-section">
                <div class="col mt-4 mb-4">
                    <p class="title">Job Categories</p>
                </div>
                <div class="col mt-4 mb-4">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search here..." aria-label="Recipient's username"
                            aria-describedby="button-addon2" />
                        <button class="btn btn-primary btn-search" type="button" id="button-addon2" data-mdb-ripple-color="dark">
                            Search Job
                        </button>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col">
                    <button type="button" class="btn btn-light btn-rouned">Web Dev</button>
                    <button type="button" class="btn btn-light btn-rouned">Mobile Dev</button>
                    <button type="button" class="btn btn-light btn-rouned">Design</button>
                    <button type="button" class="btn btn-light btn-rouned">Writing</button>
                    <button type="button" class="btn btn-light btn-rouned">Design</button>
                    <button type="button" class="btn btn-light btn-rouned">Web Dev</button>
                    <button type="button" class="btn btn-light btn-rouned">Design</button>
                    <button type="button" class="btn btn-light btn-rouned">Writing</button>
                    <button type="button" class="btn btn-light btn-rouned">Admin Support</button>
                    <button type="button" class="btn btn-light btn-rouned">Design</button>
                    <button type="button" class="btn btn-light btn-rouned">Web Dev</button>
                    <button type="button" class="btn btn-light btn-rouned">Mobile Dev</button>
                    <button type="button" class="btn btn-light btn-rouned">Design</button>
                    <button type="button" class="btn btn-light btn-rouned">Writing</button>
                    <button type="button" class="btn btn-light btn-rouned btn-border-purple">View All Category</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="hr"></div>
        </div>
        <div class="col">
            <div class="row job-list-section">
                <div class="col mt-4 mb-4">
                    <p class="title">Showing 34 job</p>
                </div>
                <div class="col mt-4 mb-4 fiter-options text-right">
                    <span><i class="fa fa-history fa-purple" aria-hidden="true"></i> Fulltime</span>
                    <span><i class="fa fa-list-alt fa-purple" aria-hidden="true"></i> Contactual</span>
                    <span class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitchesDetails">
                        <label class="custom-control-label" for="customSwitchesDetails">Details</label>
                    </span>
                    <span class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitchesSalary" checked>
                        <label class="custom-control-label" for="customSwitchesSalary">Salary</label>
                    </span>
                    <span class="filter-list"><i class="fa fa-filter" aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row job-card">
                <div class="col-4">
                    <div class="inline">
                        <img src="assets/icons/g-logo.png" class="comp-logo" alt="Account" width="40px">
                    </div>
                    <div class="inline">
                        <span class="profile">Quality Engineer Fresher</span><br>
                        <span class="job-type">Pooja Forge | Full Time</span>
                    </div>
                </div>
                <div class="col-2 no-padding text-center">
                    <label>50,000 - 60,000</label>
                </div>
                <div class="col-3 no-padding text-center">
                    <label>Gurgaon | Haryana</label>
                    <span>Location</span>
                </div>
                <div class="col-3 text-center no-padding">
                    <button type="button" class="btn btn-light btn-rouned btn-custom">Apply Now</button>
                    <button type="button" routerLink="/job-description" class="btn btn-light btn-rouned btn-custom">Job Description</button>
                </div>
            </div>
            <div class="row job-card">
                <div class="col-4">
                    <div class="inline">
                        <img src="assets/icons/g-logo.png" class="comp-logo" alt="Account" width="40px">
                    </div>
                    <div class="inline">
                        <span class="profile">Quality Engineer Fresher</span><br>
                        <span class="job-type">Pooja Forge | Full Time</span>
                    </div>
                </div>
                <div class="col-2 no-padding text-center">
                    <label>50,000 - 60,000</label>
                </div>
                <div class="col-3 no-padding text-center">
                    <label>Gurgaon | Haryana</label>
                    <span>Location</span>
                </div>
                <div class="col-3 text-center no-padding">
                    <button type="button" class="btn btn-light btn-rouned btn-custom">Apply Now</button>
                    <button type="button" routerLink="/job-description" class="btn btn-light btn-rouned btn-custom">Job Description</button>
                </div>
            </div>
            <div class="row job-card">
                <div class="col-4">
                    <div class="inline">
                        <img src="assets/icons/g-logo.png" class="comp-logo" alt="Account" width="40px">
                    </div>
                    <div class="inline">
                        <span class="profile">Quality Engineer Fresher</span><br>
                        <span class="job-type">Pooja Forge | Full Time</span>
                    </div>
                </div>
                <div class="col-2 no-padding text-center">
                    <label>50,000 - 60,000</label>
                </div>
                <div class="col-3 no-padding text-center">
                    <label>Gurgaon | Haryana</label>
                    <span>Location</span>
                </div>
                <div class="col-3 text-center no-padding">
                    <button type="button" class="btn btn-light btn-rouned btn-custom">Apply Now</button>
                    <button type="button" routerLink="/job-description" class="btn btn-light btn-rouned btn-custom">Job Description</button>
                </div>
            </div>
            <div class="row job-card">
                <div class="col-4">
                    <div class="inline">
                        <img src="assets/icons/g-logo.png" class="comp-logo" alt="Account" width="40px">
                    </div>
                    <div class="inline">
                        <span class="profile">Quality Engineer Fresher</span><br>
                        <span class="job-type">Pooja Forge | Full Time</span>
                    </div>
                </div>
                <div class="col-2 no-padding text-center">
                    <label>50,000 - 60,000</label>
                </div>
                <div class="col-3 no-padding text-center">
                    <label>Gurgaon | Haryana</label>
                    <span>Location</span>
                </div>
                <div class="col-3 text-center no-padding">
                    <button type="button" class="btn btn-light btn-rouned btn-custom">Apply Now</button>
                    <button type="button" routerLink="/job-description" class="btn btn-light btn-rouned btn-custom">Job Description</button>
                </div>
            </div>
            <div class="row job-card">
                <div class="col-4">
                    <div class="inline">
                        <img src="assets/icons/g-logo.png" class="comp-logo" alt="Account" width="40px">
                    </div>
                    <div class="inline">
                        <span class="profile">Quality Engineer Fresher</span><br>
                        <span class="job-type">Pooja Forge | Full Time</span>
                    </div>
                </div>
                <div class="col-2 no-padding text-center">
                    <label>50,000 - 60,000</label>
                </div>
                <div class="col-3 no-padding text-center">
                    <label>Gurgaon | Haryana</label>
                    <span>Location</span>
                </div>
                <div class="col-3 text-center no-padding">
                    <button type="button" class="btn btn-light btn-rouned btn-custom">Apply Now</button>
                    <button type="button" routerLink="/job-description" class="btn btn-light btn-rouned btn-custom">Job Description</button>
                </div>
            </div>
            <div class="col text-center mb-6">
                <button class="btn btn-explore">Show More</button>
            </div>
            
        </div>
        <app-subscribe></app-subscribe>
    </div>
    <app-footer></app-footer>
</div>

